{% extends 'flatpages/default.html' %}

{ % load censor % }

{% load tegs %}
<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Поиск публикаций</h1>
 <h4> Всего публикаций: {{ news|length }} </h4>
 <h1>Количество текущих новостей: {{ paginator.count }}</h1>
 {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.non_field_errors }}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти запись" />
   </form>

<hr>
 {% if news %}
       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> Автор </td>
               <td> Название </td>
               <td> Дата </td>
               <td> Категория </td>
               <td> Текст </td>
               <td> Рейтинг </td>
           </tr>
           {% for title in news %}
           <tr>
               <td>{{ title.author }}</td>
               <td>{{ title.title|truncatewords:10 }}</td>
               <td>{{ title.dateCreation }}</td>
               <td>{{ title.categoryType }}</td>
               <td>{{ title.text|truncatewords:20 }}</td>
               <td>{{ title.rating }}</td>
           </tr>
           {% endfor %}
       </table> <!-- ... и таблицы -->
   {% else %}
       <!-- Если товаров нет, говорим, что товаров нет ;) -->
       <h2>Новостей нет!</h2>
   {% endif %}

{% if page_obj.has_previous %}
 <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
      <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}